@font-face {
  font-family: RocketSans;
  src: url('../../src/fonts/RocketSans-Bold.woff2'),
    url('../../src/fonts/RocketSans-Bold.woff');
  font-weight: bold;
}
@font-face {
  font-family: RocketSans;
  src: url('../../src/fonts/RocketSansMedium.woff2'),
    url('../../src/fonts/RocketSansMedium.woff');
  font-weight: 500;
}
@font-face {
  font-family: RocketSans;
  src: url('../../src/fonts/RocketSans.woff2'),
    url('../../src/fonts/RocketSans.woff');
  font-weight: normal;
}
@font-face {
  font-family: RocketSans;
  src: url('../../src/fonts/RocketSansLight.woff2'),
    url('../../src/fonts/RocketSansLight.woff');
  font-weight: 300;
}
